%section.content-wrapper
	.container-fluid
		%section.content-header
			%h1
				SignUp
				%small Required Sign-up Details
			%ol.breadcrumb
				%li
					= link_to root_path do
						%i.fa.fa-dashboard
							Home
				%li.active
					SignUp
