%section.content-wrapper
	.container-fluid
		%section.content-header
			%ol.breadcrumb
				%li.active
						%i.fa.fa-dashboard
						Home
			.row.voffset10
				.text-center
					%font{:Size => 50, :face => 'verdana'}
						%b> C
						arg
						%b> C
						o
			.row.voffset2
				.col-md-offset-3.col-lg-offset-3
					.col-lg-8.col-md-8.col-sm-10.col-xs-12
						= render 'users/search'
			.row
				.box.box-default
					.box-header.with-border
						%h3.box-title Search Filters
					.box-body
						Search Filters Here