.col-lg-3
	.small-box.bg-red
		.inner
			%h3
				5
			%p
				Alerts
		.icon
			%i.ion.ion-alert-circled
		.small-box-footer
			%a{:href => "#"}
				More info
				%i.fa.fa-arrow-circle-right
.col-lg-3
	.small-box.bg-yellow
		.inner
			%h3
				25
			%p
				Drivers
		.icon
			%i.fa.fa-car
		.small-box-footer
			%a{:href => "#"}
				More info
				%i.fa.fa-arrow-circle-right
.col-lg-3
	.small-box.bg-green
		.inner
			%h3
				15
			%p
				Carriers
		.icon
			%i.fa.fa-truck
		.small-box-footer
			%a{:href => "#"}
				More info
				%i.fa.fa-arrow-circle-right
.col-lg-3
	.small-box.bg-aqua
		.inner
			%h3
				25
			%p
				Users
		.icon
			%i.fa.fa-user
		.small-box-footer
			%a{:href => "#"}
				More info
				%i.fa.fa-arrow-circle-right
